body, html {
    font-size : 13px;
}

@media (min-width: 993px){
    .m-aside-left {
        width: 220px;
    }

    .m-brand {
        width: 220px;
    }

    .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-footer {
        margin-left: 220px;
    }
}

